################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TestEquipmentDrivers/.vs/TestEquipmentDrivers
/TestEquipmentDrivers/DriverUnitTest/x64/Debug
/TestEquipmentDrivers/DriverUnitTest/Debug
/TestEquipmentDrivers/DriverTestApp/x64/Debug
/TestEquipmentDrivers/DriverTestApp/Debug
/TestEquipmentDrivers/EquipmentDriver/Debug
/TestEquipmentDrivers/EquipmentDriver/x64/Debug
/TestEquipmentDrivers/x64/Debug
/TestEquipmentDrivers/Debug
/TestEquipmentDrivers/ViaviSimulator/Debug/ViaviSimulator.tlog
/TestEquipmentDrivers/ViaviSimulator/Debug
/TestEquipmentDrivers/UDL.ViaviNSantecTester/Debug
/TestEquipmentDrivers/SantecSimulator/Debug
/TestEquipmentDrivers/UDL.SantecOSX/Debug
/TestEquipmentDrivers/UDL.SantecOSX/x64
/TestEquipmentDrivers/UDL.SantecOSX/Release
/TestEquipmentDrivers/OSXSimulator/Debug
/TestEquipmentDrivers/OSXSimulator/x64
/TestEquipmentDrivers/OSXSimulator/Release
/TestEquipmentDrivers/OSXTestApp/Debug
/TestEquipmentDrivers/OSXTestApp/x64
/TestEquipmentDrivers/OSXTestApp/Release
/TestEquipmentDrivers/OSXTestApp2/Debug
/TestEquipmentDrivers/OSXTestApp2/x64
/TestEquipmentDrivers/OSXTestApp2/Release
/TestEquipmentDrivers/DriverTestApp2/Debug
/TestEquipmentDrivers/DriverTestApp2/x64
/TestEquipmentDrivers/DriverTestApp2/Release
/TestEquipmentDrivers/DriverTestApp3/Debug
/TestEquipmentDrivers/DriverTestApp3/x64
/TestEquipmentDrivers/DriverTestApp3/Release
/TestEquipmentDrivers/.vs/CopilotSnapshots/37BBA98F4E265042888A61489B40E99B
