################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TestEquipmentDrivers/.vs/TestEquipmentDrivers
/TestEquipmentDrivers/x64/Debug
/TestEquipmentDrivers/Debug
/TestEquipmentDrivers/UDL.SantecRLM/Debug
/TestEquipmentDrivers/UDL.SantecRLM/x64
/TestEquipmentDrivers/UDL.SantecRLM/Release
/TestEquipmentDrivers/SantecSimulator/Debug
/TestEquipmentDrivers/SantecSimulator/x64
/TestEquipmentDrivers/SantecSimulator/Release
/TestEquipmentDrivers/UDL.SantecOSX/Debug
/TestEquipmentDrivers/UDL.SantecOSX/x64
/TestEquipmentDrivers/UDL.SantecOSX/Release
/TestEquipmentDrivers/OSXSimulator/Debug
/TestEquipmentDrivers/OSXSimulator/x64
/TestEquipmentDrivers/OSXSimulator/Release
/TestEquipmentDrivers/OSXTestApp2/Debug
/TestEquipmentDrivers/OSXTestApp2/x64
/TestEquipmentDrivers/OSXTestApp2/Release
/TestEquipmentDrivers/DriverTestApp3/Debug
/TestEquipmentDrivers/DriverTestApp3/x64
/TestEquipmentDrivers/DriverTestApp3/Release
/TestEquipmentDrivers/GMSApp/Debug
/TestEquipmentDrivers/GMSApp/x64
/TestEquipmentDrivers/GMSApp/Release
/TestEquipmentDrivers/UDL.ViaviPCT/Debug
/TestEquipmentDrivers/UDL.ViaviPCT/x64
/TestEquipmentDrivers/UDL.ViaviPCT/Release
/TestEquipmentDrivers/UDL.ViaviOSW/Debug
/TestEquipmentDrivers/UDL.ViaviOSW/x64
/TestEquipmentDrivers/UDL.ViaviOSW/Release
/TestEquipmentDrivers/ViaviPCTSimulator/Debug
/TestEquipmentDrivers/ViaviPCTSimulator/x64
/TestEquipmentDrivers/ViaviPCTSimulator/Release
/TestEquipmentDrivers/ViaviOSWSimulator/Debug
/TestEquipmentDrivers/ViaviOSWSimulator/x64
/TestEquipmentDrivers/ViaviOSWSimulator/Release
/TestEquipmentDrivers/.vs/CopilotSnapshots/37BBA98F4E265042888A61489B40E99B
/TestEquipmentDrivers/ViaviApp/x64/Debug
